{% extends 'base.html' %}
{% block title %}Welcome, {{ request.user.get_full_name }}{% endblock %}
{% block css %}
    <h1>Campaigns</h1>
    <p>Below are all the current campaigns.</p>
    {% for campaign in campaigns %}
        <a href="/voting/campaign/{{ campaign.pk }}">{{ campaign.short_description }}</a>
    {% endfor %}
{% endblock %}