{% extends 'base.html' %}
{% block title %}Welcome, {{ request.user.get_full_name }}{% endblock %}
{% block css %}
    <h1>Votes</h1>
    <p>Below are all the of your current votes.</p>
    {% for vote in votes %}
    	<div>{{ vote.proposition.campaign.short_description }}: {{ vote.proposition.short_description }} {{ vote.rating }}</div>
    {% endfor %}
{% endblock %}