<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %} - Winter Lion Software Ltd.</title>
	{% block css %}{% endblock %}
    {% block extra-head %}{% endblock %}
<meta name="keywords" content="" />
<meta name="description" content="" />
</head>
<body>
{% block body %}{% endblock %}
<div id="footer">
	<p class="legal">Copyright (c) 2010 Winter Lion Software Ltd. All rights reserved.</p>
	{% block extra-footer %}{% endblock %}
</div>
</body>
</html>
