{% extends 'base.html' %}
{% block title %}Welcome!{% endblock %}

{% block logo %}
	<div id="logo-wrap">
		<div id="logo">
			<h1><a href="#">choir helper</a></h1>
			<h2>the beauty of music</h2>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div id="content">
		<h1>Welcome to the Choir Helper project!</h1>
		<p>Choir Helper is a choir management system under active development. This
		means that it's getting better every day!</p>
		<p>Choir Helper has the single goal of making it as easy as possible for
		you to run a world-class choir. We attempt to do this in several ways:</p>
		<ul>
			<li>
				<h4>We make it easy for you to plan the music for each service</h4>
				<p>By simply double-clicking on a song, you can add it to a 
				service. We'll take care of the other stuff like telling your
				librarian which music they should put out for rehearsal and when.</p>
			</li>
			<li>
				<h4>We make it easy for you to manage your choir members</h4>
				<p>Let's face it: most choirs rely on volunteers, and sometimes
				it's hard to keep track of what your volunteers plans are. Choir
				Helper will allow each member to quickly and easily say which
				rehearsals and services they will not be able to attend, so you
				won't have any nasty surprises like having no altos show up for
				a service!</p>
			</li>
			<li>
				<h4>We connect you to the vibrant and exciting world of choral music
				</h4>
				<p>Sometimes it feels like you're fighting against the world,
				trying to keep your choir afloat. But there's lots of choirs, and
				lots of support out there. We'll be sure that you find it. We want
				to increase the enjoyment of choral music around the world, and
				are always working to gather resources and support material. In 
				fact, as Choir Helper grows, the benfits multiply. With Choir
				Helper your choir will truly be greater than the sum of its parts!
				</p>
			</li>
		</ul>
		<h2>Why not join us and take your choir to the next level?</h2>
	</div>
{% endblock %}

